name: WIP
on:
  workflow_call:

jobs:
  wip:
    runs-on: ubuntu-latest
    steps:
      - uses: wip/action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}          
      - uses: wagoid/commitlint-github-action@v4
        env:
          JIRA_PREFIX: ${{ secrets.JIRA_PREFIX }}
