name: "Draft new release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version you want to release.'
        required: false

jobs:
  draft-new-release:
    name: "Draft a new release"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      #  update changelog
      # bump version in project files etc.

      - name: Calver Release
        uses: StephaneBour/actions-calver@v1.4.4
        id: calver
        with:
          name: release ${NEXT_RELEASE}
          date_format: "%Y-%m-%d"
          release: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        id: semantic
        with:
          semantic_version: 19
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
          dry_run: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Do something when a new release published
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          echo ${{ steps.semantic.outputs.new_release_version }}
          echo ${{ steps.semantic.outputs.new_release_major_version }}
          echo ${{ steps.semantic.outputs.new_release_minor_version }}
          echo ${{ steps.semantic.outputs.new_release_patch_version }}

      - name: Create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: create release ${{ steps.calver.outputs.release }}
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: release/${{ steps.calver.outputs.release }}
          base: main
          delete-branch: true
          title: Release version ${{ steps.calver.outputs.release }}
          body: |
            Hi @${{ github.actor }}!

            This PR was created in response to a manual trigger of the release workflow here:
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}

            I've updated the changelog and bumped the versions in the manifest files in this commit to ${{ steps.calver.outputs.release }}.

            Merging this PR will create a GitHub release and upload any assets that are created as part of the release build.
          labels: |
            release
            automated pr
          assignees: ${{ github.actor }}
          reviewers: ${{ github.actor }}
          team-reviewers: |
            owners
            maintainers
          draft: false
