name: "Draft new release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version you want to release.'
        required: false

concurrency:
  group: draft-new-release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  draft-new-release:
    name: "Draft a new release"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        id: semantic
        with:
          semantic_version: 19
          extra_plugins: |
            @semantic-release/changelog
          dry_run: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release branch
        run: git checkout -b release/${{ steps.semantic.outputs.new_release_version }}

      - name: Create pull request
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: peter-evans/create-pull-request@v4
        id: create-pull-request
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore(release): ${{ steps.semantic.outputs.new_release_version }}\n\n${{ steps.semantic.outputs.new_release_notes }}"
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: release/${{ steps.semantic.outputs.new_release_version }}
          base: main
          delete-branch: true
          title: Release version ${{ steps.semantic.outputs.new_release_version }}
          body: |
            Hi @${{ github.actor }}!

            This PR was created in response to a manual trigger of the release workflow here:
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}

            new release: ${{ steps.semantic.outputs.new_release_version }}
            old release: ${{ steps.semantic.outputs.last_release_version }}

            Merging this PR will create a GitHub release and upload any assets that are created as part of the release build.

            Release notes:
            ${{ steps.semantic.outputs.new_release_notes }}
          labels: |
            release
          assignees: ${{ github.actor }}
          reviewers: ${{ github.actor }}
          team-reviewers: |
            owners
            maintainers
          draft: false

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.create-pull-request.outputs.pull-request-number }}
          merge-method: merge
